@font-face {
  font-family: "valencia";
  src: url("../public/fonts/valencia_400-webfont.woff2") format("woff2"),
    url("../public/fonts/valencia_400-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
